[Unit]
Description=Measure Pollution
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/air/ppm2/
ExecStart=sudo /usr/bin/python3 /home/pi/air/ppm2/pollution.py
Restart=on-failure

[Install]
WantedBy=default.target

